publishconsume/target/classes/consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="TestWSDL.wsdl" service="PublishWebserviceService" port="PublishWebservicePort" serviceAddress="http://localhost:8081/publish" doc:name="Web Service Consumer"/>
    <data-mapper:config name="Xml_getNameResponse__To_JSON" transformationGraphPath="xml_getnameresponse__to_json.grf" doc:name="Xml_getNameResponse__To_JSON"/>
    <flow name="consumeFlow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/consume" doc:name="HTTP"/>
        <ws:consumer config-ref="Web_Service_Consumer" operation="getName" doc:name="Web Service Consumer"/>
        <data-mapper:transform config-ref="Xml_getNameResponse__To_JSON" doc:name="Xml&lt;getNameResponse&gt; To JSON"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
